.mainImg {
    background: url(./assets/heroImg.png);
    min-height: 31rem;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

.vertical {
    border-left: 4px solid black;
    height: 50px;
    margin-left: 10px;
}

.darkButton {
    border-radius: 1rem;
    color: white;
    background-color: #1F386D;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 600;
}

.darkButton:hover {
    background-color: #02875A;
}

.lightButton {
    border-radius: 1rem;
    color: #1F386D;
    background-color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 600;
}

.lightButton:hover {
    background-color: #02875A;
}

.newsFrame {
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.sponsor {
    flex: 0 0 auto;
    width: 25rem;
}